@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#game-play {
  background-color: #0cda18;
  background-image: none;
  height: 400px;
  width: 700px;
  border: 1px solid black;
  position: absolute;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
}

#sky {
  background: url(/public/img/elements/sky.png);
  background-size: contain;
  height: 30%;
  width: 100000%;
  display: flex;
  position: absolute;
  background-repeat: repeat-x;
  animation: carMove 200s linear infinite;
}

.sky-opacity {
  opacity: 0.7;
}

#background {
  background: url(/public/img/background/backgroundGamePlayScreen.png);
  background-size: contain;
  background-repeat: repeat-x;
  height: 100%;
  width: 10000%;
  z-index: 0;
}

.background-opacity {
  opacity: 0.9;
}

#word-box {
  background: #632e01;
  border: 20px solid #632e01;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 10px #633e01;
  position: absolute;
  z-index: 2;
  display: none;
}

.word-box__word {
  height: 10%;
  width: 25%;
  top: 10%;
  left: 34%;
}

.word-box__phrase {
  height: 20%;
  width: 60%;
  top: 10%;
  left: 17%;
}

.word-box__text {
  height: 32%;
  width: 68%;
  top: 12%;
  left: 13%;
}

.word-box__congrats {
  height: 45%;
  width: 50%;
  left: 23%;
}

#medal img {
  position: relative;
  height: 100%;
  width: 100%;
  right: 210%;
  top: 4%;
}

.medal img{
  right: 210%;
  top: 4%;
}

#read {
  position: relative;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-weight: 1;
}

.read-word {
  font-size: 50px;
  bottom: 110%;
  left: 15%;
}

.read-phrase {
  font-size: 35px;
  bottom: 10%;
  left: 6%;
}

.read-text {
  font-size: 25px;
  bottom: 15%;
  text-align: center;
}

#result {
  position: relative;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 100%;
  left: 35%;
  bottom: 10%;
  opacity: 1;
}
/* #road {
    height: 100px;
    width: 1000%;
    background: url(/public/img/elements/road.png);
    background-size: contain;
    display: block;
    position: absolute;
    background-repeat: repeat-x;
    bottom: 10%;
} */
#car {
  position: absolute;
  bottom: 24%;
  left: 2%;
}
#car img {
  height: 50px;
  width: auto;
}

.car-opacity {
  opacity: 0.7;
}

#pass-bn {
  transition: 0.5s;
}

#pass-btn:hover{
  transform: scale(1.05);
}

.pass-btn {
  background: url(/public/img/btns/passBtn.png);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
  height: 20%;
  width: 30%;
  top: 70%;
  left: 45%;
  display: none;
}

#mic {
  background: url(/public/img/btns/micBtn.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  height: 128px;
  width: 250px;
  top: 63%;
  left: 78%;
  transition: 0.5s;
}

#mic:hover {
  transform: scale(1.1);
}
.mic-opacity {
  display: none;
  opacity: 0.7;
  cursor: none;
  transition: none;
  transform: scale(1.1);
}
/*  vou arrumar ainda
#obstacle {
    width: 20px;
    height: 20px;
    position: relative;
    top: 110px;
    left: 580px;
}
*/

/*Animations*/
.carJump {
  animation: carJump 1s linear;
}

.carSuspension {
  animation: carSuspension 1s linear infinite;
}

.skyAnimation {
  animation: carMove 35s linear infinite;
}

.roadAnimation {
  animation: carMove 20s linear infinite;
  animation: carMove 20s linear infinite;
  animation: carMove 20s linear infinite;
}

@keyframes carMove {
  100% {
    transform: translateX(-2950px);
  }
}

@keyframes carSuspension {
  100% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(2px);
  }
  0% {
    transform: translateY(-4px);
  }
}

@keyframes carJump {
  0% {
    top: 200px;
  }
  30% {
    top: 220px;
  }
  50% {
    top: 150px;
  }
  80% {
    top: 180px;
  }
  100% {
    top: 200px;
  }
}
