#game-screen {
  background: url(../img//background/backgroundMain.png);
  background-size: cover;
  border: 20px solid #632e01;
  box-shadow: 0px 0px 0px 10px #633e01;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 365px;
  width: 700px;
  align-items: center;
  z-index: 1;
}
.game-screen__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.game-screen__menu-logo {
  margin: 0 auto;
}
.game-screen__menu-logo--img {
  width: 400px;
  animation: pulseLogo 10s infinite;
}
.game-screen__menu-btn {
  cursor: pointer;
  margin-right: 30px;
  transition: 0.3s;
}
.game-screen__menu-btn:hover {
  transform: scale(1.15);
  z-index: 2;
}
.game-screen__menu-btn--img {
  width: 60px;
  margin-right: 0;
}
.game-screen__menu-btn--play {
  width: 100px;
}
.game-screen__menu-btn-options{
  display: none;
}

@keyframes pulseLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
