@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

#game-play {
  background-image: none;
  height: 365px;
  width: 700px;
  border-radius: 30px;
  position: absolute;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
}

#sky {
  background: url(/public/img/elements/sky.png);
  background-size: contain;
  height: 30%;
  width: 100000000%;
  display: flex;
  position: absolute;
  background-repeat: repeat-x;
  animation: carMove 200s linear infinite;
}

.sky-opacity {
  opacity: 0.6;
}

#new-level {
  top: 10%;
  margin: 0 auto;
  min-width: 30%;
  display: flex;
  cursor: default;
  background: #632e01;
  border: 20px solid #632e01;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 10px #633e01;
  position: relative;
  z-index: 2;
  font-size: 30px;
  line-height: 0%;
  color: whitesmoke;
  text-align: center;
  flex-direction: column;
  font-family: "Varela Round", sans-serif;
  font-weight: 1;
}

#new-level h2 {
  bottom: 20px;
  position: relative;
  color: yellow;
  font-size: 40px;
}

#background {
  position: absolute;
  background: url(/public/img/background/backgroundGamePlayScreen.png);
  background-size: contain;
  background-repeat: repeat-x;
  height: 100%;
  width: 100000000%;
  z-index: 0;
}

.background-opacity {
  opacity: 0.8;
}

#word-box {
  animation: popup 0.7s;
  display: none;
  cursor: default;
  background: #632e01;
  border: 20px solid #632e01;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 10px #633e01;
  z-index: 2;
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  top: 10%;
}

#read {
  position: relative;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: 1;
}

.read-word {
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
}
.read-box {
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

.read-text {
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
}

.read-endGame {
  font-size: 28px;
  margin: 0 auto;
  bottom: 10%;
  text-align: center;
}

.read-endGame h1 {
  color: yellow;
}

#result {
  font-family: "Varela Round", sans-serif;
  color: white;
  text-align: center;
  line-height: 80%;
  font-size: 20px;
  opacity: 1;
  z-index: 2;
  padding-left: 2%;
  max-height: 150px;
}

#medal {
  display: none;
  padding-top: 2%;
  padding-right: 1%;
  max-height: 180px;
}

#medal img {
  height: 180px;
}

#car {
  position: absolute;
  bottom: 24%;
  left: 2%;
}
#car img {
  height: 50px;
  width: auto;
}

.car-opacity {
  opacity: 0.7;
}

#home-btn {
  cursor: pointer;
  background: url(/public/img/btns/homeBtn.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  z-index: 2;
  height: 18%;
  width: 100%;
  position: absolute;
  transition: 0.3s;
}

.home-btn {
  top: 2%;
  left: 2%;
}

.home-btn img {
  width: 100%;
  height: 100%;
}

.home-btn-endGame {
  top: 76%;
  left: 45%;
}

#pass-btn {
  display: none;
  background: url(/public/img/btns/passBtn.png);
  background-size: contain;
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: 0.3s;
  z-index: 2;
  height: 18%;
  top: 78%;
  left: 45%;
  width: 30%;
}

#pass-btn:hover {
  transform: scale(1.1);
}

#mic-btn {
  cursor: pointer;
  background: url(/public/img/btns/micBtn.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  height: 128px;
  width: 250px;
  top: 63%;
  left: 78%;
  transition: 0.2s;
}

#mic-btn:hover {
  transform: scale(1.1);
}
#obstacle {
  background: url(/public/img/elements/cone.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 15%;
  top: 60%;
  left: 100%;
}

/*Animations*/
.carJump {
  animation: carJump 3.5s linear;
}

.carSuspension {
  animation: carSuspension 1s linear infinite;
}

.skyAnimation {
  animation: carMove 35s linear infinite;
}

.raceAnimation {
  animation: carMove 10s linear infinite;
  animation-delay: 1s;
}

.obstacleMove {
  animation: obstacleMove 2.5s linear;
}

@keyframes carMove {
  100% {
    transform: translateX(-2950px);
  }
}

@keyframes carSuspension {
  100% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(2px);
  }
  0% {
    transform: translateY(-4px);
  }
}

@keyframes carJump {
  30% {
    top: 240px;
  }
  35% {
    top: 150px;
    left: 20%;
  }
  50% {
    top: 220px;
    left: 25%;
  }
  100% {
    top: 240px;
    left: 200%;
  }
}
@keyframes passBtnSlide {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes obstacleMove {
  100% {
    transform: translateX(-1000px);
  }
}

@media (max-height: 376px) {
  #game-play {
    width: 99%;
  }
}
