#game-screen {
  background: url(../img/background/backgroundMain.png
  );
  background-size: contain;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 395px;
  width: 700px;
  z-index: 0;
}
.game-screen__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.game-screen__menu-logo {
  margin: 0 auto;
}
.game-screen__menu-logo--img {
  width: 400px;
}
.game-screen__menu-btn {
  cursor: pointer;
  margin-right: 30px;
  transition: 0.3s;
}
.game-screen__menu-btn:hover {
  transform: scale(1.3);
  z-index: 2;
}
.game-screen__menu-btn--img {
  width: 60px;
  margin-right: 0;
}
.game-screen__menu-btn--play {
  width: 100px;
}
