#game-levels{
    display: none;
    font-size: 20px;
    justify-content: space-evenly;
    margin: auto 0;
    flex-direction: column;
    width: 100%;
}

.levelImg{
    width: 120px;
    margin-top: 0;
}

.fases{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
}

.back-button{
    margin-left: 10px;
    margin-top: 10px;
}

.back-button img{
    width: 60px;
}

.fases-carrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrinho{
    width: 60px;
}

.faseDois{
    margin-top: 45px
}

.carrinhoTres, .carrinhoUm{
    margin-bottom: 25px;
}



