body{
    margin: 0;
    padding: 0;
}

.bg_body{
    align-items: center;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#game_screen{
    border: 1px solid black;
    height: 400px;
    width: 700px
}